h1 {
	font: 2em Verdana;
	color: #5A5A70;
	padding-bottom: 0.2em;
	margin-left: 0.5em;
	margin-right: 0.5em;
	margin-bottom: 0.2em;
}

h3 {
	font: 1.3em Verdana;
	color: #5A5A70;
	margin-bottom: 0;
	margin-top: 0.5em;
	margin-left: 1em;
	position: relative;
}

h4 {
	font: 1.15em Verdana;
	color: #5A5A70;
	margin-bottom: 0;
	margin-top: 0.8em;
	margin-left: 1em;
	position: relative;
}

#minButton {
	background-color: transparent;
	border: none;
	font-style: italic;
	text-decoration: underline;
	color: #5A5A70;
	outline: 0;
	position: absolute;
	bottom: 1px;
	right: 0;
	cursor: pointer;
}

button:hover {
	color: #3498db;
}

button::-moz-focus-inner {
	border: 0;
}

.box {
	background: #DDDDDD;
	margin-left: 6%;
	margin-top: 3%;
	text-decoration: #FFF;
	background: #E5EAEA;
	width: 40%;
	border-top: 1px solid #C6C6C6;
}

.uiViewBox {
	border-bottom: 1px solid #C6C6C6;
}

.info {
	font: 100% Verdana;
	margin-left: 1em;
	margin-right: 1em;
	padding-bottom: 0.6em;
	position: relative;
}

p {
	padding-left: 1em;
}

.viewOptions {
	text-align: center;
	list-style-type: none;
	margin-top: 0.4em;
	padding: 0;
	position: absolute;
	bottom: 5px;
	margin-bottom: 0;
}

.viewOptions li {
	display: inline;
	padding-left: 0.8em;
	padding-right: 0.8em;
}

.btnBar {
	margin-left: 1em;
	margin-right: 1em;
	height: 30px;
	position: relative;
	margin-top: 0em;
}

#editBtnLeft {
	border: 1px solid #C6C6C6;
	border-radius: 6px;
	color: #3498db;
	background-color: #E5EAEA;
	position: absolute;
	left: 0px;
	width: 160px;
	height: 30px;
	cursor: pointer;
}

#editBtnLeft:hover {
	background-color: #3498db;
	border-color: #3498db;
	color: #E5EAEA;
}

#delBtnRight {
	border: 1px solid #C6C6C6;
	border-radius: 6px;
	color: #e74c3c;
	background-color: #E5EAEA;
	position: absolute;
	left: 161px;
	width: 160px;
	height: 30px;
	cursor: pointer;
}

#delBtnRight:hover {
	background-color: #e74c3c;
	border-color: #e74c3c;
	color: #E5EAEA;
}

#vertLine {
	border-left: 1px solid #C6C6C6;
	padding-right: 0px;
	padding-left: 0;
	padding-top: 6px;
	padding-bottom: 5px;
	margin-left: 134px;
}

input {
	margin-left: 2em;
	margin-bottom: 2px;
}

footer {
	border-top: 1px solid #3498db;
	margin-left: 1em;
	margin-right: 1em;
}

#innerInfo {
	margin-left: 1em;
	margin-right: 7em;
	text-align: right;
}

#innerInfo p {
	border-bottom: 1px solid #C6C6C6;
	padding-left: 0;
	text-align: left;
}

#formButton {
	margin: 0.5em;
	border: 1px solid #C6C6C6;
	border-radius: 7px;
	height: 2em;
	color: #46C546;
	cursor: pointer;
	background-color: #E5EAEA;
}

#formButton:hover {
	color: #E5EAEA;
	background-color: #46C546;
	border: 1px solid #46C546;
}

#formButton:disabled {
	color: #C6C6C6;
	background-color: #E5EAEA;
	border-color: #C6C6C6;
}

#cancelBtn {
	border: 1px solid #C6C6C6;
	border-radius: 7px;
	height: 2em;
	color: #e74c3c;
	cursor: pointer;
	background-color: #E5EAEA;
}

#cancelBtn:hover {
	color: #E5EAEA;
	background-color: #e74c3c;
	border: 1px solid #e74c3c;
}

input.ng-pristine {
	border: 1px solid #C6C6C6;
	border-radius: 4px;
}

input.ng-dirty {
	border: 1px solid red;
	border-radius: 4px;
}

input.ng-valid {
	border: 1px solid green;
	border-radius: 4px;
}

input:disabled {
	border: none;
}

.fixedTableContainer {
	height: 253px;
	overflow-y: scroll;
	margin-bottom: 1em;
	margin-left: 2em;
	margin-right: 2em;
}

.userList {
	list-style-type: none;
	padding-left: 0em;
	margin-top: 0;
}

.listInfo {
	color: #5A5A70;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 0;
	margin-top: 0.5em;
	margin-right: 4em;
	margin-left: 2em;
	border-top: 1px solid #C6C6C6;
	border-bottom: 1px solid #C6C6C6;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.profileBox {
	border-top: 1px solid #C6C6C6;
	border-bottom: 1px solid #C6C6C6;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 0;
	margin-top: 0.5em;
	margin-right: 4em;
	margin-left: 2em;
}

.userRow {
	padding-top: 5px;
	padding-bottom: 5px;
	height: 30px;
	width: 95%;
	border-bottom: 1px solid #C6C6C6;
	position: relative;
	cursor: pointer;
}

.userRow:hover {
	background-color: #C6C6C6;
}

.userRow p {
	margin-top: 4px;
	margin-bottom: 4px;
	height: 180%;
	margin-left: 0;
	height: 25px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 60%;
}

.deleteButton {
	position: absolute;
	bottom: 3px;
	left: 82%;
	border: 1px solid #C6C6C6;
	border-radius: 7px;
	height: 2.3em;
	background-color: #E5EAEA;
	color: #e74c3c;
	cursor: pointer;
}

.deleteButton:hover {
	background-color: #e74c3c;
	border-color: #e74c3c;
	color: #E5EAEA;
}

.editButton {
	position: absolute;
	bottom: 3px;
	left: 68%;
	border: 1px solid #C6C6C6;
	border-radius: 7px;
	height: 2.3em;
	background-color: #E5EAEA;
	color: #3498db;
	cursor: pointer;
}

.editButton:hover {
	background-color: #3498db;
	border-color: #3498db;
	color: #E5EAEA;
}

.createButton {
	margin-left: 190px;
	border: 1px solid #C6C6C6;
	border-radius: 7px;
	height: 2.3em;
	background-color: #E5EAEA;
	color: #46C546;
	cursor: pointer;
}

.createButton:hover {
	background-color: #46C546;
	border-color: #46C546;
	color: #E5EAEA;
}

.content {
	width: 90%;
	border-top: 1px solid #DCDCDC;
	border-bottom: 1px solid #DCDCDC;
	margin-bottom: 1em;
	margin-right: auto;
	margin-left: auto;
}

.userSearch {
	color: #5A5A70;
	background-color: #E5EAEA;
	width: 360px;
	padding-top: 7px;
}

.userSearch.ng-valid {
	border: none;
	border-bottom: 1px solid #D6D6D6;
	border-radius: 0;
}

#clearSearchBtn {
	background-color: transparent;
	border: none;
	font-style: italic;
	color: #B1B1B1;
	outline: 0;
	right: 10px;
	cursor: pointer;
}