<div ng-controller="EditController">
	<h3>Create User</h3>
	<form name="createForm" id="innerInfo" novalidate="novalidate">
		<p>Name</p>
		<input type="text" name="first" placeholder="First" ng-model="postData.firstName" required="required"/>
		<input type="text" name="last" placeholder="Last" ng-model="postData.lastName" required="required"/>
		<p>Email</p>
		<input type="email" name="email" placeholder="Email" ng-model="postData.email" required="required" ng-pattern="/^[_a-z0-9-]+(\.[_a-z0-9-]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,15})$/"/>
		<p>Phone</p>
		<input type="tel" name="phone" placeholder="Phone Number" ng-model="postData.phone" required="required" ng-pattern="phoneRegex"/>
	</form>
	<button id="formButton" ng-click="newPost()" ng-disabled="!createForm.$valid">Create User</button>
</div>